<form [formGroup]="signupForm">
    <div class="input-container">
      <input type="text" name="name" id="name" placeholder="Enter your name" formControlName="name" class="custom-input" />
      <input type="email" name="email" id="email" placeholder="Enter your email" formControlName="email" class="custom-input" />
      <input type="text" name="username" id="username" placeholder="Enter your username" formControlName="username" class="custom-input" />
      <input type="number" name="phone" id="phone" placeholder="Enter your phone number" formControlName="phone" class="custom-input" />
      <input type="password" name="password" id="password" placeholder="Enter your password" formControlName="password" class="custom-input" />
      <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password" formControlName="confirmPassword" class="custom-input" />
      <button type="button" [disabled]="signupForm.invalid" (click)="signup" class="custom-button">Signup</button>
    </div>
</form>