<div class="card col-md-6 offset-md-3">
    <h3>Update Categorie previously named <label required [(ngModel)]="categorieData.type" name="type"></label></h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Type</label>
                <input type="text" class="form-control" id="type" required [(ngModel)]="categorieData.type" name="type">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form> 
</div>
