<button type="button" routerLink="/signup" *ngIf="!isLoggedIn">Signup</button>
<button type="button" routerLink="/login" *ngIf="!isLoggedIn">Login</button>
<button type="button" routerLink="/profile" *ngIf="isLoggedIn">Profile</button>
<button type="button" routerLink="/categorie" *ngIf="isLoggedIn">categorie</button>
<button type="button" routerLink="/updateProfile" *ngIf="isLoggedIn">Update Profile</button>
<button type="button" routerLink="/create-categorie" *ngIf="isLoggedIn">Create a categorie</button>
<button type="button" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
<router-outlet></router-outlet>